{{!< default}}
<div class="container">
	<div class="jumbotron">
		<h1 class="text-center">Welcome to the Minion Hut</h1>
		<div class="row">
			<div class="col-sm-4">
				<img src="/images/grant.png" class="img-circle img-responsive" height="460px" width="460px"></img>	
				<h2 class="text-center">Grant Uy</h2>	
			</div>
			<div class="col-sm-4">
				<img src="/images/me.jpg" class="img-circle img-responsive" height="460px" width="460px"></img><h2 class="text-center">Michael Bartling</h2>	
			</div>
			<div class="col-sm-4">
				<img src="/images/peon.gif" class="img-circle img-responsive" height="460px" width="460px"></img>
				<h2 class="text-center">Anthony Bauer</h2>	
			</div>
		</div>
		<blockquote cite="http://bash.org/?5273">
			<h4>	hm. I've lost a machine.. literally _lost_. it responds to ping, it works completely, I just can't figure out where in my apartment it is.</h4>
			<footer>
				errno on <cite title="http://bash.org/?5273">bash.org</cite>
			</footer>
		</blockquote>
	</div>
	
	


	<p>
		Remember to <a href='https://github.com/mbartling' target='_blank'>Check out my GitHub</a> 
	</p>

</div>
