<!-- {{!< default}} -->
<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="text-center">Meet the Minions</h1>    
      </div>
      <div class="col-sm-4">
        <img src="/images/peon.gif" class="img-rounded img-responsive"></img>
      </div>
    </div>
  </div> <!-- end Jumbotron-->
  
  <h1>
    Under Construction!
  </h1>
  <p>
    Remember to <a href='https://github.com/mbartling' target='_blank'>Check out my GitHub</a> 
  </p>

</div>
